/* :root {
    --grey-1: #e2e2e2;
    --grey-3: #ebebeb;
    --dark-theme-bg-color: rgb(14, 14, 14);
    --dark-theme-text-color: rgb(255, 255, 255);
    --white: rgb(255, 255, 255);
    --primary-1: #ff3333;
    --transititon: 0.4s;
    --color-body-1: #3c3e41;
} */

@media screen and (min-width: 768px){
    body{
        font-size: 16px;
        margin: 0;
        padding: 0;
        overflow: unset;
    }
    .experience-tabs-headers{
        padding: 0 3.6rem 0 0;
        width: 20%;
        scroll-behavior: smooth;
        display: block;
    }
    .experience-list{
        flex-direction: row;
        padding: 4.7rem 0;
    }
    div.description h2{
        font-size: 3rem;
    }
    .intro{
      padding-top: 0;  
    }
    .stacks-image-container{
        display: block;
    }
    h2.section-title, .description p, h3.section-tag{
        text-align: left;
    }
    span.title, h2.title, span.subtitle {
        text-align: left;
    }
    .social-share {
        justify-content: start;
    }
    .modal-body {
        background-color: #ffffff;
        margin: 60px auto;
        padding: 20px;
        border-radius: 10px;
        width: 30%;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-detail, .image-container{
        width: 100%;
        padding-top: 2rem;
    }
    .description p{
        text-align: left;
    }
    .description{
        justify-content: left;
        align-items: flex-start;
    }
    .container {
        margin: 0 auto;
        max-width: 1210px;
        padding: 0 20px;
        width: 100%;
    }
    .skills-img-container{
        margin-top: -20px;
    }
    .banner-content{
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    .about-container,.project,.contact-container{
        flex-direction: row;
    }
    .project-img, .project-detail{
        width: 100%;
    }
    .nav-main{
        display: block;
    }
    .menu-btn{
        display: none;
    }
    .project-img{
        padding: 1.06rem 3.5rem;
    }
    .contact-form{
        padding-top: 0;
    }
    .experience-detail .inner::after {
        right: 102.6%;
    }
    .img-container{
        width: 350px;
        height: 350px;
    }
}

@media screen  and (max-width: 570px) {
    .experience-detail .inner::after {
        right: 106%;
    }
}
@media screen and (max-width: 414px){
    .experience-detail .inner::after {
        right: 108%;
    }
}

@media screen and (min-width: 1390px) {
    .stacks-image-container .inner {
        height: 520px;
        padding: 1rem 3rem;
        position: relative;
        margin-top: 3.7rem;
    }
}